.div1{
    display: block;
    font-weight: 1000;
    font-size: larger;
    font-family: Arial;
}
.div2{
    display: block;
    font-weight: 1000;
    font-size: large;
    font-family: Arial;
}
.borderred{
    border: 10px solid red;
    display: block;


}
#borderblue{
    border: 10px dashed blue;
    display: block;
}
.imagesize{
    width: 500px;
    height: 350px;
    position: absolute;

}
.messiposition{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 200px;
    margin-left:250px;
}
.ronaldoposition{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 200px;
    margin-right:250px;
}
.txtmessi{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 580px;
    margin-left: 320px;
    color: #fff3cd;
    font-size: 2em;
    }
.txtronaldo{
    position: absolute;
    right: 0;
    top: 0;
    margin-top:580px;
    margin-right:280px;
    color: #fff3cd;
    font-size: 2em;
}
.txtul{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom:30px;
    margin-left: 300px;
    color: #fff3cd;
    font-size: 1em;
    font-family: Arial;

}
.txtand{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 400px;
    margin-right:48%;
    font-size: 50px;
    font-weight: 1000;
    color: #fff3cd;
}
.txttitle{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 50px;
    margin-right: 30%;
    font-size: 60px;
    font-weight: 1000;
    color: #fff3cd;
}
.animeMessi:hover{
    transform: scale(120%);
    transition: 3s;
}
.animeRonaldo:hover{
    transform: rotate(360deg);
    transition: 4s;
}
.animeUL:hover{
    display: block;
    transform: scale(300deg);
    transition: 1s;
}
body{
    background: url("https://img1.goodfon.ru/wallpaper/nbig/d/ae/liga-chempionov-lch-stadion.jpg") ;
}